{% extends 'base.html.twig' %}

{% block title %}Search Products - {{ 'welcome'|trans }}{% endblock %}

{% block body %}
    <div class="search-page">
        <h1>Search Products</h1>
        {{ component('product_search') }}
    </div>
{% endblock %}