{% extends 'base.html.twig' %}

{% block title %}Chercher un produit {% endblock %}

{% block body %}
    <div class="search-page">
        <h1>Recherche de produits</h1>
        {{ component('ProductSearch') }}
    </div>
{% endblock %}