{% extends 'base.html.twig' %}

{% block title %}Minecraft Shop{% endblock %}

{% block body %}
    <h1>Minecraft Shop</h1>

    <div class="category-list">
        {# Liste des catégories si nécessaire #}
    </div>

    <div class="minecraft-inventory">
        {% for slot in 0..26 %}
            <div class="inventory-slot">
                {% if slot < products|length %}
                    <a href="{{ path('app_product_show', {'id': products[slot].id}) }}">
                        <img src="{{ asset('images/minecraft/' ~ products[slot].minecraftImage) }}" alt="{{ products[slot].name }}">
                    </a>
                    <form action="{{ path('app_cart_add', {'id': products[slot].id}) }}" method="post">
                        <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                    </form>
                {% else %}
                    <!-- Slot vide -->
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
